{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<!-- HTML comment -->
{# comment #}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h2>View of Grocery items</h2>
<div class="jumbotron">

    <form action="add/" method="GET">
      <input type="submit" class="btn btn-primary" value="Add item">
    </form>
    {% if not table_data %}
    <p>There are no g  items at the moment.</p>
    {% else %}

    <table class="table table-striped">
      <tr>
        <th>Description</th>
        <th>price</th>
        <th>expiredate</th>
        <th></th>
      </tr>
      {% for row in table_data %}
      <tr>
        <td>{{ row.description }}</td>
        <td>{{ row.price }}</td>
        <td id="t1">{{ row.expiredate }}</td>

        <td>
            <a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a></td>

      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% if table_data %}

    <body onload="sum()">
    <p id="p1"></p>
    {% endif %}
  </div>

  <div id="deleteModal" class="modal fade" role='dialog'>
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Delete Item</h4>
                      </div>
                      <div class="modal-body">
                          <p>Do you really want to delete this item?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <span id='deleteButton'></span>
                      </div>
                  </div>
              </div>
          </div>


<h2>Here are some links to Recipes</h2>
{% endblock %}
{% block scripts %}
<script src="{%static 'js/app.js' %}"></script>
{% endblock %}
