{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block content %}
<h1 id="welcome"> WELCOME TO FRIDGE!</h1>
<br><br>
<body>
  <!-- <div class="grid-container"> -->
  <div class="div1">
    <div class="grid-x grid-padding-x">
      <!-- <div class="large-4 medium-6 small-12 large-offset-4 medium-offset-3 cell"> -->
        <div class="div2">
        <h1>Login</h1>
        <form action="/login/" method="POST">
          {% csrf_token %}
          {{ login_form }}
          <input type="submit" class="button expanded" value = "Login"/>
          <a href="/join" class="secondary button expanded">Register</a>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>
{% endblock %}