{% extends 'base.html' %}
{% load static %}
{% block title %}
Recipes
{% endblock %}

{% block content %}
<!-- HTML comment -->
{# comment #}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h1>{{ title}} {{ msg }}!</h1>
            <h1>Hello {{ user.username }}!</h1>
            <h1>Here are a few links to sites with great recipes!</h1>
            <div class="div1">
                <a href="https://www.simplyrecipes.com/" target="_blank">SimplyRecipes</a>
                <br>
                <a href="https://www.allrecipes.com/recipes/" target="_blank">AllRecipes</a>
                <br>
                <a href="https://www.myrecipes.com/" target="_blank">MyRecipes</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}