{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    <style>
        .img {
            width: 50%;
            max-width: 100px;
            height: auto;
        }

        .res {
            height: 500px;
            overflow-y: auto;
            width: 100%;
        }

    </style>

    <script src="https://kit.fontawesome.com/ddf411465e.js" crossorigin="anonymous"></script>    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="{% static 'js/fridge.js' %}"></script>

    {% comment %} <----- Code Starts From Here -----> {% endcomment %}
    <div class="topcontainer">
        <div class="row1">
          <div class="col-sm-6" style="background-color:white; height:100px; width:1270px; border-radius:50px;">
                <button class="buttonindex"data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Add Item
                </button>
                <a href="{% url 'item_list' %}"><button class="btn btn-primary"><img src="{% static 'images/grid.png' %}" alt="all" class="categories-img" width="31" height="40">All ({{total}})</button></a>
                <a><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img src="{% static 'images/dairy-products.png' %}" alt="dairy" class="categories-img" width="35" height="50">Dairy ({{counterdairy.count}})</button></a>
                <a><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3"><img src="{% static 'images/wine-bottles.png' %}" alt="beverages" class="categories-img" width="35" height="50">Beverages ({{counterbeverages.count}})</button></a>
                <a><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="{% static 'images/beef.png' %}" alt="meat" class="categories-img" width="40" height="50">Meat ({{countermeat.count}})</button></a>
                <a><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4"><img src="{% static 'images/vegetable.png' %}" alt="froz veg" class="categories-img" width="35"  height="50">Frozen veg ({{counterfrozveg.count}})</button></a>
                <a><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5"><img src="{% static 'images/fruit.png' %}" alt="fruit" class="categories-img" width="35" height="50">Fruits ({{counterfruits.count}})</button></a>     
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body7">
                            <form action="" method="post" enctype="multipart/form-data" style="padding:20px;">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <a href="#"><button type="submit" class="btn btn-primary">Submit</button></a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
              <form class="form" action="/search/" method="GET" class="inline">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" id = "transcript" class="input-field" type="search" name="q" value="{{ request.GET.q }}" placeholder=" Search what's in your fridge...">
                <span class="left-pan"><i class="fa fa-microphone" onclick = "startDictation()" name="q" value="{{ request.GET.q }}"></i></span>
              </form>

    {% comment %} <-----Dairy-----> {% endcomment %}
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="padding-left:170px;"><img src="{% static 'images/dairy-products.png' %}" alt="dairy" class="categories-img" width="35" height="50">Dairy ({{counterdairy.count}})</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body1">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in counterdairy %}
                        <tr>
                            {% if data.food_type == 'dairy' %}
                            <td><img src="{{ data.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                            <td>{{ data.food_type}}</td>
                            <td>{{ data.food_title}}</td>
                            <td>{{ data.price}}</td>
                            <td>{{ data.quantity}}</td>                            
                            {% endif %}
                        </tr>
                        {% empty %}
                                <tr>
                                  <td colspan="12" class="text-center bg-danger">No item found...!!!</td>
                                 </tr>
                        {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                </button>
            </div>
          </div>
        </div>
      </div>

    {% comment %} <-----Baverages-----> {% endcomment %}
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="padding-left:170px;"><img src="{% static 'images/wine-bottles.png' %}" alt="beverages" class="categories-img" width="35" height="50">Beverages ({{counterbeverages.count}})</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body1">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in counterbeverages %}
                        <tr>
                            {% if data.food_type == 'beverages' %}
                            <td><img src="{{ data.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                            <td>{{ data.food_type}}</td>
                            <td>{{ data.food_title}}</td>
                            <td>{{ data.price}}</td>
                            <td>{{ data.quantity}}</td>                            
                            {% endif %}
                        </tr>
                        {% empty %}
                                <tr>
                                  <td colspan="12" class="text-center bg-danger">No item found...!!!</td>
                                 </tr>
                        {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                </button>
            </div>
          </div>
        </div>
      </div>

    {% comment %} <-----Meat-----> {% endcomment %}
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="padding-left:170px;"><img src="{% static 'images/beef.png' %}" alt="meat" class="categories-img" width="40" height="50">Meat ({{countermeat.count}})</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body1">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in countermeat %}
                        <tr>
                            {% if data.food_type == 'meat' %}
                            <td><img src="{{ data.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                            <td>{{ data.food_type}}</td>
                            <td>{{ data.food_title}}</td>
                            <td>{{ data.price}}</td>
                            <td>{{ data.quantity}}</td>   
                            {% endif %}
                        </tr>
                        {% empty %}
                                <tr>
                                  <td colspan="12" class="text-center bg-danger">No item found...!!!</td>
                                 </tr>
                        {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                </button>
            </div>
          </div>
        </div>
      </div>
        {% comment %} <-----Frozen veg-----> {% endcomment %}
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" style="padding-left:170px;"><img src="{% static 'images/vegetable.png' %}" alt="froz veg" class="categories-img" width="35"  height="50">Frozen veg ({{counterfrozveg.count}})</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body1">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Item Type</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for data in counterfrozveg %}
                                <tr>
                                    {% if data.food_type == 'frozen vegetables' %}
                                    <td><img src="{{ data.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                                    <td>{{ data.food_type}}</td>
                                    <td>{{ data.food_title}}</td>
                                    <td>{{ data.price}}</td>
                                    <td>{{ data.quantity}}</td>                            
                                    {% endif %}
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="12" class="text-center bg-danger">No item found...!!!</td>
                                 </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                        </button>
                    </div>
                  </div>
                </div>
              </div>
        {% comment %} <-----Fruits-----> {% endcomment %}
        <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="padding-left:170px;"><img src="{% static 'images/fruit.png' %}" alt="fruit" class="categories-img" width="35" height="50">Fruits ({{counterfruits.count}})</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body1">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Item Type</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for data in counterfruits %}
                            <tr>
                                {% if data.food_type == 'fruits' %}
                                <td><img src="{{ data.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                                <td>{{ data.food_type}}</td>
                                <td>{{ data.food_title}}</td>
                                <td>{{ data.price}}</td>
                                <td>{{ data.quantity}}</td>                            
                                {% endif %}
                            </tr>
                            {% empty %}
                                <tr>
                                  <td colspan="12" class="text-center bg-danger">No item found...!!!</td>
                                 </tr>
                            {% endfor %}
                          
                        </tbody>
                      </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close
                    </button>
                </div>
              </div>
            </div>
          </div>
    <div class="container">
        {#for more items#}
 
        <table class="table table-hover border table-responsive">
            <thead>
            {% comment %} <table id="table"> {% endcomment %}
        <table id="table">
        <tr style="background-color:black; color:white;">
                <th onclick = "sortTable(0)" scope="col">Photo</th>
                <th onclick = "sortTable(1)" scope="col">Item Type</th>
                <th onclick = "sortTable(2)" scope="col">Item Name</th>
                <th onclick = "sortTable(3)" scope="col">Price</th>
                <th onclick = "sortTable(4)" scope="col" style="padding-left: 55px;">Quantity</th>
                <th scope="col">Date Stored</th>
                <th scope="col">Expiry</th>
                <th scope="col">Status</th>
                <th scope="col">Option</th>
        </tr>
            </thead>
                <tbody class="res">
                  
                {% for item in items %}
                    <div class="row container">
                    <tr>
                    <td style="width:5%"><img src="{{ item.photos.url }}" class="img2" alt="" style="width:50px; height:50px;"></td>
                    <td style="width:13%">{{ item.food_type }}</td>
                    <td style="width:25%">{{ item.food_title }} </td>
                    <td style="width:10%">${{ item.price }}</td>
                    <td>
                <div class="row container qtycss" style="padding-left:20px;">
                    <div class="col-md-4 ">
                        <div class = "input-group text-center mb-2" style="width:130px;" data-id="{{ item.pk }}">
                            <button class="input-group-text changeQuantity decrement-btn" style="height: 40px;">-</button>
                            <input type = "text" name="quantity" class="form-control qty-input text-center itemQuantity" value="{{ item.quantity }}"></input>
                            <button class="input-group-text changeQuantity increment-btn" style="height: 40px;">+</button>
                        </div>
                    </div>
                </div>
                    </td>
                    <td style="width:13%">{{ item.valid_from }}</td>
                    <td style="width:13%">{{ item.valid_to }}</td>


                    {% if item.status == 'Good' %}
                    <td class="text-success" style="width:10%">Good</td>
                    {% elif item.status == 'Warning' %}
                    <td class="text-warning" style="width:10%">Warning</td>
                    {% else %}
                    <td class="text-danger" style="width:10%">Expired</td>
                    {% endif %}


                    <td style="width:10%">
                        <a href="{% url 'item_update' item.id %}"><i class="fa-solid fa-pen" style="color:#6BAD12;width: 30px; font-size:25px;"></i></a>
                        <a href="{% url 'item_delete' item.pk %}"><i class="fa-solid fa-trash" style="color:#EC4747;width: 30px; font-size:25px;"></i></a>

                    </td>
                </div>
            <div>
        </div>

                
                    {% empty %}
                <tr>
                    <td colspan="12" class="text-center bg-warning" style="width:70%" >No data...!!!</td>
                </tr>
            
            {% endfor %}

            </tr>
        </tbody>
      </table>

            <script>
                function startDictation() {
                  if (window.hasOwnProperty('webkitSpeechRecognition')) {
                    var recognition = new webkitSpeechRecognition();

                    recognition.continuous = false;
                    recognition.interimResults = false;

                    recognition.lang = 'en-US';
                    recognition.start();

                    recognition.onresult = function (e) {
                      document.getElementById('transcript').value = e.results[0][0].transcript;
                      recognition.stop();
                      document.getElementById('labnol').submit();
                    };

                    recognition.onerror = function (e) {
                      recognition.stop();
                    };
                  }
                }
              </script>
              <table>
              <tfoot>
                <tr>
                  <div class="bottombar" style="color:white; background-color:green; padding-top:5px; padding-left:15px; width:1170px;"><b>TOTAL AMOUNT:</b><b style="padding-left:255px; color:white;">${{ totalcost }}</b></div>
                </tr>
              </tfoot>
            </table>
    </div>
{% endblock %}
