{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    <style>
        .img {
            width: 50%;
            max-width: 100px;
            height: auto;
        }

        .res {
            height: 500px;
            overflow-y: auto;
            width: 100%;
        }

    </style>

    <script src="https://kit.fontawesome.com/be7f532f58.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <div class="container mt-5">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">


                <form action="/search/" method="GET" class="inline">
                    <div class="input-icons">
                    <i class="fa fa-search icon"></i>
                    <input style="width:400px; border-radius:20px;margin-top: 20px;" class="input-field" type="search" name="q" value="{{ request.GET.q }}"
                           placeholder="Search what's in your fridge" aria-label="Search">
                    {% comment %} <button style="height:50px; margin-top: 15px; "class="button3" value="Search" type="submit">Search</button> {% endcomment %}
                    </div>
                </form>
                <form action="/search/" method="GET">
                <button style="height:50px; margin-right: 600px;" class="button3" value="Search" type="submit">Search</button>
                </form>

                <button type="button" class="addbutton" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo"><i class="fa-solid fa-plus" style="font-size:35px"><h6>Add</h6></i>
                    
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <a href="#"><button type="submit" class="btn btn-primary">Submit</button></a>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </nav>
    </div>

    <div class="container mt-2">
        {#for more items#}

        <table class="table table-hover border table-responsive">

            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Item Type</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date Stored</th>
                <th scope="col">Expiry</th>
                <th scope="col">Status</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody class="res">
            {% for item in items %}
                <tr>
                    <td style="width:90px"><img src="{{ item.photos.url }}" class="img2" alt="" style="border-radius: 50%; width:50px; height:50px;"></td>
                    {% comment %} <td>{{ user.username }}</td> {% endcomment %}
                    <td>{{ item.food_type }}</td>
                    <td>{{ item.food_title }} </td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.valid_from }}</td>
                    <td>{{ item.valid_to }}</td>

                    {% if item.status == 'Warning' %}
                    <td class="text-warning">Warning</td>
                    {% elif item.status == 'Good' %}
                    <td class="text-success">Good</td>
                    {% else %}
                    <td class="text-danger">Expired</td>
                    {% endif %}

                    <td>
                        <a href="{% url 'item_update' item.id %}"><i class="fa-solid fa-pen" style="color:#6BAD12;width: 30px; font-size:25px;"></i></a>
                        <a href="{% url 'item_delete' item.pk %}"><i class="fa-solid fa-trash" style="color:#EC4747;width: 30px; font-size:25px;"></i></a>
                        {% comment %} <a class="btn btn" href="#" onclick="confirmDeleteModal({{ row.id }})"><i class="fa fa-trash-o" style="font-size:25px;color:red"></i></a> {% endcomment %}

                    </td>

                    {% empty %}
                <tr>
                    <td colspan="12" class="text-center bg-warning">No data...!!!</td>
                </tr>
            {% endfor %}
            </tr>


            </tbody>
        </table>
    </div>

{#    <script>#}
{#    var name = "{{ user.username }}";#}
{#    document.getElementById("me").value#}
{#        = name;#}
{#    </script>#}


{% endblock %}
